{% extends "base.html" %}
{% load thumbnail %}
{% block content %}



<div class="row">
<div class="col-xs-12">
    <form method="GET" action="{% url 'slides:search' %}" class="text-xs-right">
    <input type="text" name="q" placeholder="Search slides"/>
    <input type="submit" value="Search" />
    </form>
</div>
</div>

{% for category in structure %}
    <h1>{{ category.0 }}</h1>
    <hr />

    <div class="row">

    {% for topic in category.1 %}
        <div class="col-xs-12 col-md-6 col-xl-4">
            <div class="card card-block">
              <a href="/{{ category.0 }}_{{ topic.0 }}">
              <div id="fs{{ forloop.counter }}" class="fs" style="width:100%;height:50px;overflow:hidden;">

                <img class="card-img-top" src="{{ topic.1.0.slides.0.image|thumbnail_url:'preview' }}" id="firstImage" />
                {% for slide_stack in topic.1 %}
                    {% if not forloop.first %}
                    <img class="card-img-top img-fluid" src="{{ slide_stack.slides.0.image|thumbnail_url:'preview' }}" />
                    {% endif %}
                {% endfor %}
              </div>
              </a>
              <p></p>
              <h3 class="card-title">{{ topic.0 }}</h3>
              <p class="card-text">{{ topic.1.0.image.src }}</p>
              <a href="/{{ category.0 }}_{{ topic.0 }}" class="btn btn-primary">View Topic</a></p>
            </div>
        </div>
    {% endfor %}

    </div>
    <br />

{% endfor %}



{% endblock content %}